
html{
   min-width: 100%;  /*Ensure That The Background Image Shows When Resizing */
   min-height: 100%; /*Ensure That The Background Image Shows When Resizing */
}

body {

  font-family:'Roboto Slab';
  background-image: url("https://source.unsplash.com/1600x900/?nature/");
  background-size: cover;  /*Cover the Whole Container with Background Picture */
  min-width: 100%;  /*Ensure That The Background Image Shows When Resizing */
  background-repeat: no-repeat;
  background-position:  center;
  overflow: -moz-scrollbars-none;


}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}



h1 {

 font-size: 1.5em;
 color: black;
}

.board h1{

 padding: 0.35em;
 font-size: 1.5em;
 color: white;

}



#done h2{
  color: #98FB98;
  padding-left: 0.35em;
  margin-left: 90%;
  font-size: 1.35em;

}

#doing h2{
  color: #00FFFF;
  padding-left: 0.35em;
  margin-left: 90%;
  font-size: 1.35em;

}

#todo h2{
  color: white;
  background-color: red;
  max-width: 2em;
  font-size: 1.35em;
  border-radius: 10px;
  text-align: center;
  margin-left: 90%;

}


p{
  font-size: 0.7em;
}



.board{ /*This is The Main Board with the Colums */

  display: grid; /*Using CSS Grids to Create 3 Columns*/
  width: 100%;
  grid-template-rows: 1fr;  /*1 Row Only*/
  grid-template-columns: repeat(auto-fit, 333px); /*Each Column Automatically Fitted*/

  justify-content: center;
}


.card h1{
  font-size: 1.5em;
  color: black;
  padding: 10px;
}

.card select{
  max-width: 90%;
  margin: 5%;
}
.off{
  display: none;
}


.card_container{

  border-radius: 10px;
  padding: 0 0.5rem 0.5em;
  margin: 5% 3%;
  background: rgba(0,0,0,0.7);
  max-height: 40em; /*Maximum Height of The Containers*/

  align-self: flex-start; /*This Makes Each Section the Size of The Cards In It*/
  overflow: scroll; /*Each Row Can Handle 4 Cards, Enables Scroll after that*/

}

#date{
 font-size: 0.8em;
}



.card{
    overflow: scroll;
    border-radius: 0.5em;
    max-height: 20em;
    margin: 5px;
    cursor: pointer;


}




.card h4{
  font-size: 1em;
  padding-left: 10px;
  cursor: pointer;
}

.menu{

  background: black;
  min-height: 3em;
  justify-content: center;
  z-index: 1.55;
}

.menu i{
  font-size: 1.5em;
  color: white;
  display:inline-block;
  margin: 0.5em;
  margin-left: 2em;
  cursor: pointer;

}

.menu button{
  background-color: black;
  color: white;
	font-size: 1em;
	width: 12em;
	height: 3em;
	text-align: center;
	border: none;

}

.menu p{
  display:inline-block;
  font-weight: bold;
  padding: 10px 30px 10px 10px;
  color: white;
  font-size: 1em;
  float: right;

}


.form{

  padding: 20px;
  float: right;
  overflow: scroll;
  margin: 0 auto;
  margin-top: 5%;
  min-width: 50%;
  width: 50%;
  max-width: 100%;
  background:rgba(255,255,255,1);
  min-height: 50%;
  border: solid black 1px;
  border-radius: 4px;

}


.form h1{
 margin-bottom: 0.5em;
 font-size: 2.5em;
 color: black;

}

.form h2{

 margin-top: 0.35em;
 font-size: 1.5em;
 color: black;

}

#todo button {

  background-color: #007bff;
	border-radius: 10px;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size: 0.75em;
	text-decoration:none;
	width: 8em;
	height:2.25em;
	margin-top: 5%;
	margin-left: 60%;


}



#doing button {

  background-color:#28a745;
	border-radius: 10px;
	border:1px solid black;
	cursor:pointer;
	color:#ffffff;
	font-size:0.75em;
	text-decoration:none;
	width: 8em;
	height:2.25em;
	margin-top: 5%;
  margin-left: 60%;
}

#done button {

  background-color: red;
	border-radius: 10px;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:0.75em;
	text-decoration:none;
	width: 8em;
	height:2.25em;
	margin-top: 5%;
	margin-left: 60%;

}


.form button {

  background-color: black;
	border-radius: 10px;
	border:1px solid black;
	color:#ffffff;
	font-size:14px;
	width:200px;
	height:35px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.form input{

  padding: 1px;
  min-width: 75%;

}

.form select{

  position: center;
  font-size: 1.25em;


}



/* Hide scrollbar for Chrome, Safari and Opera */
.card_container::-webkit-scrollbar {
 display: none;
}

.sboard::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.card_container{
    -ms-overflow-style: none;
}



.sboard{

  max-width: 75%;
  min-width: 75%;
  max-height: 90%;
  justify-content: center;
  background-color: rgba(0,0,0,0.9);
  overflow: scroll;
  overflow-x:hidden;
  color: white;
  border-radius: 5px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  z-index: 1.5; /* Sit on top */
  top: 5%;
  left: 12.5%;



}

.settingsCon{

  background-color: red;
  max-width: 100%;
  height: 100%;

}

.sboard h1{

  margin: 2%;
  padding: 10px;
  text-align: left;
  font-size: 1.5em;
  color: white;
}
.sboard input{

 width: 50%;
 background-color: white;
 color: black;
 margin-left: 5%;
 margin-right: 40%;

}
.sboard label{

  text-align: center;
  font-size: 2em;
  margin: 0.5em;

}

.sboard button {

  background-color: green;
	border-radius: 20px;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	text-decoration:none;
	width:5em;
	height:2.5em;
  margin-left: 45%;
  margin-top: 5%;

}


 #close.settings{

  background-color: red;
	border-radius: 10px;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:1em;
	width: 5em;
	height: 2.5em;
  margin-left: 75%;
  margin-top: 5%;
  text-align: center;

}

#todo.newtask{

  background-color: orange;
	border-radius: 20px;
	border:1px solid black;
	cursor: pointer;
	color:#ffffff;
	font-size:12px;
	text-decoration:none;
	width: 8em;
	height:2.5em;

}

#todo input{
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #3CBC8D;
  border: solid black 1px;
  color: white;
  margin-bottom: 20px;
  border-radius: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  font-size: 0.8em;
  padding-left: 10px;
  opacity: 1; /* Firefox */
  text-align: left;
}

.popup-container{

  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  z-index: 1; /* Sit on top */
  background-color: rgba(0,0,0,0.3);

}

.popup{

  background-color:  #fff;
  width: 50%;
  max-width: 100%;
  min-width: 333px;
  padding: 30px 50px;
  border-radius: 5px;
  margin: auto;
  position: fixed;
  top: 25%;
  left: 25%;
}

.popup button{

  float: right;
  background-color: orange;
	border-radius: 5px;
	border:1px solid black;
	cursor:pointer;
	color:#ffffff;
	font-size: 1em;
	align-content: center;
	padding: 1px;
	width: 7em;
	height: 1.5em;
}


.popup h1{
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 2.5em;

}
.popup h2{
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 1.4em;

}

.popup h3{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;

}

.popup #des{

  font-size: 1em;
  max-height: 8em;
  overflow: scroll;


  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.popup #title{

  font-size: 2.5em;
  max-height: 8em;
  overflow: scroll;

}

.createTask{
  justify-content: left;
}

.avail{

  background-color: white;
  color: black;
  border: 1px solid black;
  min-width: 90%;
  margin: 25px;
  text-align: center;
  border-radius: 10px;
  overflow: scroll;
  max-height: 40em;

}
.avail h1{
  font-size: 1.5em;
  color: black;
}
.avail label{
  font-size: 1.25em;
  margin-left: 5%;
}

.avail li{

  font-size: 1.25em;
  margin-left: 5%;
  margin-right: 5%;
  display: block;
  text-align: left;


}
.avail select{
  position: center;
  font-size: 1.25em;
  width: 75%;
  margin: 5%;
}

.avail input{

 margin: 0.2em;
 margin-bottom: 1em;
}

.avail button{

  background-color: orange;
	border-radius: 7px;
	display: inline-block;
	border:1px solid black;
	cursor:pointer;
	color:#ffffff;
	font-size: 1em;
	text-decoration:none;
	min-width: 8em;
	max-width: 25em;
	height:2.25em;
	max-height: 4em;
  margin: 0 auto;
  margin-bottom: 10px;



}


.avail p{
  margin: 0.5em;
  font-size: 1.2em;
  display: inline-block;
}

.pref{
  background-color: red;
   min-width: 90%;
    margin: 25px;
}
#tasktypes{
    display: inline-block;
}
.pref label{
  font-size: 1.25em;
  margin-left: 5%;

}

.pref p{
  margin: 0.5em;
  font-size: 1.2em;
  display: inline-block;
}



.createpref{
  background-color: red;
   min-width: 90%;
  margin: 25px;
}
.createpref #tasktype{
 width: 50%;
 background-color: white;
 margin-left: 5%;
 margin-right: 40%;
}
.createpref button{
background-color: orange;
width: 5em;
height: 2em;

}


#admin{

}
